<?xml version="1.0" encoding="UTF-16"?>
<Task version="1.4" xmlns="http://schemas.microsoft.com/windows/2004/02/mit/task">
  <RegistrationInfo>
    <Author>BCGOS</Author>
    <Description>Wakes the Maestro maintenance contract; it does not prove execution.</Description>
  </RegistrationInfo>
  <Triggers>
    <LogonTrigger><Enabled>false</Enabled></LogonTrigger>
    <CalendarTrigger>
      <StartBoundary>{{START_BOUNDARY}}</StartBoundary>
      <ScheduleByDay><DaysInterval>1</DaysInterval></ScheduleByDay>
      <Repetition><Interval>PT5M</Interval><StopAtDurationEnd>false</StopAtDurationEnd></Repetition>
      <Enabled>false</Enabled>
    </CalendarTrigger>
  </Triggers>
  <Principals>
    <Principal id="Author">
      <LogonType>InteractiveToken</LogonType>
      <RunLevel>LeastPrivilege</RunLevel>
    </Principal>
  </Principals>
  <Settings>
    <MultipleInstancesPolicy>IgnoreNew</MultipleInstancesPolicy>
    <StartWhenAvailable>true</StartWhenAvailable>
    <ExecutionTimeLimit>PT2M</ExecutionTimeLimit>
    <DisallowStartIfOnBatteries>false</DisallowStartIfOnBatteries>
    <StopIfGoingOnBatteries>false</StopIfGoingOnBatteries>
  </Settings>
  <Actions Context="Author">
    <Exec>
      <Command>{{BCGOS_BIN}}</Command>
      <Arguments>maintenance wake --trigger presence</Arguments>
      <WorkingDirectory>{{WORKSPACE_PATH}}</WorkingDirectory>
    </Exec>
  </Actions>
</Task>
